<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Title</title>
    <meta name="description" content="Content">
    <meta name="author" content="Andika">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body { padding-top:80px; }
    </style>

    <!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
  