<!DOCTYPE html>

<html>
  <head>
	  <meta charset="utf-8">

	  <title>Online Presentation</title>

	  <meta name="apple-mobile-web-app-capable" content="yes" />
	  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	  
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="assets/css/styles.css" />
	  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
		<link rel="stylesheet" href="assets/css/bootstrap.css">
	  <link rel="stylesheet" href="assets/revealjs/css/reveal.css" />
	  <link rel="stylesheet" href="assets/revealjs/css/theme/black.css" id="theme" />
		<link rel="stylesheet" href="assets/css/fontawesome.css" >

	  <style>
		  * { margin: 0; padding: 0; box-sizing: border-box; }
		  body { font: 13px Helvetica, Arial; }
		  form { background:rgba(0,0,0,0.0); padding: 0px; position: fixed; bottom: 0; width: 100%; }
		  #messages { 
			  background:rgba(0,0,0,0.5); 
			  padding: 5px; 
			  margin-bottom: 35px; 
			  position: fixed; 
			  bottom: 0; 
			  width: 100%; 
			  max-height: 300px; 
			  overflow: auto;
			  resize: vertical;
		  	z-index: 9;
	  	}
		  div.form-group { margin-bottom: 0px; }
		  #messages li { padding: 2px 10px; }
		  .darkorange { color:darkorange }
		  .white { color: white }
		  svg { 
				width : 100%; 
				height: -webkit-calc(100% - 35px);
   		  height:    -moz-calc(100% - 35px);
    	  height:         calc(100% - 35px);
			}
			.no-slide { background-image: url('http://via.placeholder.com/1280x800'); width: 100%; height: 100%; }
	  </style>
		<script>
			/*
			let initHash   = '#';
			let serverHash = '<%= hash %>';

			if (initHash !== serverHash) {
			  if (window.location.hash) {
				  location.hash = serverHash;
			  } else {
				  window.location.href += serverHash;
			  }
			}
			*/
		</script>
  </head>

  <body id="canvas-container">
		<iframe class="temp-frame" style="display: none;"></iframe>
		<div class="reveal">
			<div class="slides"></div>
		</div>
		<div class="chat-list">
			<ul id="messages" class="resize vertical"></ul>
		</div>
		<div class="chat-input">
			<form action="">
				<div class="">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" id="toggle_chat"><i class="fa fa-comments" aria-hidden="true"></i></button>
							</span>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" disabled>
									<i class="fa fa-users" aria-hidden="true">
										<span id="online">0</span>
									</i>
								</button>
							</span>
							<span class="input-group-btn" style="width: 20%;">
								<input type="text" class="form-control" autocomplete="off" id="username" placeholder="Name"/>
							</span>
							<input type="text" class="form-control" id="m" autocomplete="off" placeholder="Message"/>
							<input type="hidden" id="host" value="<%= host %>" />
							<div class="input-group-btn">
								<button class="btn btn-primary" id="sm">
									<i class="fa fa-paper-plane"></i> Send
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<!-- Including the JS libraries that we use -->
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

		<!-- Bootstrap library -->
		<script src="assets/js/bootstrap.js"></script>

		<!-- jQuery UI -->
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

		<!-- Reveal.js is for presentations -->
		<script src="assets/revealjs/lib/js/head.min.js"></script>
		<script src="assets/revealjs/js/reveal.js"></script>

		<!-- Socket.io library -->
		<script src="/socket.io/socket.io.js"></script>

		<!-- Raphael library -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>

		<!-- Main JavaScript file -->
		<script src="assets/js/script.js"></script>
  </body>
</html>