<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hello World</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="  crossorigin="anonymous"></script>
</head>

<body>
  <p>{{ content }}</p>
  <a href="/auth/facebook">Login with Facebook</a>
</body>
</html>