<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="canvas/css/style.css" type="text/css" />
	<link rel="stylesheet" href="canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Prototype</title>

</head>