	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="canvas/js/jquery.js"></script>
	<script type="text/javascript" src="canvas/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="canvas/js/functions.js"></script>